{% extends "base.html" %}

{% block title %}专题首页{% endblock %}

<!-- css files -->
{% block cssFiles %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'module04/css/google-map.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'module04/css/jquery.gridster.min.css' %}" type="text/css" />
{% endblock %}

{% block content %}
<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#map">Map</a></li>
  <li class="tab-title"><a href="#timeline">Timeline</a></li>
  <li class="tab-title"><a href="#grid">Grid</a></li>
  <li class="tab-title"><a href="#list">List</a></li>
</ul>

<div class="row">
  <div class="large-12 columns">
    <div class="tabs-content">
      <!--google map-->
      <div class="content active" id="map">
        <div id="map-canvas" style="width:100%; height:600px;">
        </div>
      </div>
      <!--timeline-->
      <div class="content" id="timeline">
      </div>
      <!--grid-->
      {% load staticfiles %}
      <div class="content" id="grid">
        <div class="gridster">
          <ul style="list-style-type: none;">
            <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div class="panel"><p>Fuck the world</p></div>
            </li>
            <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
              <div class="panel"></div>
            </li>
            <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
              <div class="panel"></div>
            </li>
     
            <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
              <div class="panel"></div>
            </li>
            <li data-row="2" data-col="2" data-sizex="2" data-sizey="2">
              <div class="panel"></div>
            </li>
     
            <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
              <div class="panel"></div>
            </li>
            <li data-row="2" data-col="4" data-sizex="2" data-sizey="1">
              <div class="panel"></div>
            </li>
            <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
              <div class="panel"></div>
            </li>
     
            <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
              <div class="panel"></div>
            </li>
            <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
              <div class="panel"></div>
            </li>
     
            <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
              <div class="panel"></div>
            </li>
            <li data-row="2" data-col="6" data-sizex="1" data-sizey="2">
              <div class="panel"></div>
            </li>
          </ul>
        </div>
      </div>
      <!--list-->
      <div class="content" id="list">
        <h1>List</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- js files -->
{% block jsFiles %}
{% load staticfiles %}
<script src="{% static 'module04/js/jquery.gridster.min.js' %}"></script>

<script src="{% static 'module04/js/storyjs-embed.js' %}"></script>
<script>
$(document).ready(function(){
  $(".gridster ul").gridster({
    widget_margins: [10, 10],
    widget_base_dimensions: [140, 140]
  });
});

$('#timeline').on('toggled', function(event, tab) {
  $('#timeline').empty();
  $('#timeline').html('<div id="timeline-embed"></div>');
  createStoryJS({
    type:       'timeline',
    width:      '100%',
    height:     '600',
    source:     "{% static 'module04/json/example_json.json' %}",
    debug:      true,
    embed_id:   'timeline-embed',
    lang:       'zh-cn'
  });
});
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUbzB0w0fo6FpDUFBGUDiXSOjbI-CTDH8&sensor=false"></script>
<script src="{% static 'module04/js/google-map.js' %}"></script>
{% endblock %}
